asgiref==3.7.2
certifi==2023.7.22
distlib==0.3.7
Django==3.2.20
filelock==3.12.2
Pillow==10.0.0
pipenv==2023.7.23
platformdirs==3.9.1
pytz==2023.3
sqlparse==0.4.4
typing_extensions==4.7.1
virtualenv==20.24.2
virtualenv-clone==0.5.7
