{% extends 'post/post_list.html' %}
{% block content %}
{% load static %}
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>User Information</title>
</head>
<body>
    <div class="container">
        <div class="text-center m-5">
            <h1 class="fw-bolder">{{ user.nickname }}({{ user.username }})</h1>
            {% comment %} <p class="lead mb-0">블로그 소개글</p> {% endcomment %}
        </div>
        <div class="row">
            <div class="text-center p-3">
                <h3 class="fw">{{ user.email }}</h3><br>
                <a class="btn btn-primary m-1" href="{% url "update" %}">회원정보 수정</a><br>
                <a class="btn btn-primary m-1" href="{% url "change_password" %}">비밀번호 변경</a>
                <form action="{% url 'delete' %}" method='POST' class="m-1">
                    {% csrf_token %}
                    <input type="submit" value="회원 탈퇴">
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}